/* Feel free to add any useful code */
/* This will help you scroll just the content of your app. Eg:
  <header class="fixed">
  ...
  <article class="scrollable header">
*/

/* @divBgColor = rgba(110, 110, 110, 0.58);  */

html {
  height: 100%;
  font-size: 62.5%; /* Setting base font to 10px and define all your units in rem. 1rem = 10px */
}

body {
  margin: 0;
  height: 100%;
  display: block;
  overflow: hidden;
  font-family: sans-serif;
}

.hidden {
  visibility: hidden;
}

section[role="region"] {
  height: 100%;
  background: #fff;
}

section[role="region"] > header.fixed:first-child {
  position: absolute;
  width: 100%;
}

.scrollable {
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.scrollable.header {
  height: calc(100% - 5rem);
  top: 5rem;
  /* Back ground color */
  background-color: white /* #F4F7F8 */;
}

/* Setting proper paddings and margins */
.content {
  padding: 1.5rem;
}

section[role="region"] .content header {
  margin: 1.5rem -1.5rem;
}

section[role="region"] .content header:first-child {
  margin-top: -1.5rem;
}

.content [data-type="list"] {
  margin: -1.5rem;
}

.center {
  text-align: center;
}

[data-type="list"] {
  padding: 0;
}

[data-type="list"] ul {
  padding: 0 1.5rem;
  overflow: auto;
}

section[role="region"] .content [data-type="list"] header {
  margin: 0 1.5rem;
}

[data-type="list"] li p,
[data-type="list"] li p:first-of-type {
  padding-left: 1.5rem;
}


/* Fonts */
h1 { /* Main header */
  font-size: 2.0rem;
  font-weight: normal;
  text-align: left;
}

h2 { /* Subheader, Dialog title */
  font-size: 1.6rem;
  font-weight: normal;
}

p {
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.5rem;
}

p.large { /* Dialog body */
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3rem;
}

p.alt { /* Body medium, Buttons */
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.2rem;
}

p.small { /* Status bar */
  font-size: 1.5rem;
  line-height: 2rem;
}

p.mini { /* Fine print */
  font-size: 1.4rem;
  line-height: 1.9rem;
}

p.micro { /* App icon label */
  font-size: 1.3rem;
  line-height: 1.8rem;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 2.5rem;
}

/* Themes */
.skin-dark { background: #000; }
.skin-organic { background: #f4f4f4; }


.chronos {
  text-align: center;
  font-size: 3.0rem; 
  margin: 5px 10px 0px 0px;
}

.chronosAction {
    /* background-color: rgba(110, 110, 110, 1.0); */
    background-color: white;
  /*  background: linear-gradient(to bottom, #E00018, white); */
   color: #F97C17 /*#E00018 */;
  text-align: center;
  font-size: 6.5rem; 
  font-weight:bold;
  margin: 5px 5px 0px 5px;
  border-width: 1px;
  border-style: none;
  border-radius: 0px;
  height: 8.0rem;
  border-top:1px solid rgb(156,156,156);
}

.chronosRecovery {
  background-color: rgba(110, 110, 110, 1.0);
  color: white /* #14FF15 */;
  text-align: center; 
  font-size: 2.0rem; 
  margin: 5px 10px 0px 5px;
  border-width: 0px;
  border-style: none;
  border-radius: 10px;
  height: 2.5rem; 
  /*float:left; */
}

.chronosRound {
  background-color: rgba(110, 110, 110, 1.0);
  color: white; /* #64A0E3 */
  text-align:  center;
  font-size: 2.0rem; 
  margin: 5px 10px 0px 5px; 
  border-width: 0px;
  border-style: none;
  border-radius: 10px;
  height: 2.5rem; 
  /* float:right; */
}

.chronosHeader {
  background-color: rgba(110, 110, 110, 1.0); 
  color:  white;
  width:100%;
  font-size: 1.5rem;
  font-weight:bold;
  margin: 0px 0px 0px 0px; 
  border-width: 0px;
  border-style: none;
  border-radius: 0px;
  height: 3.0rem; 

}

.chronosTotal {
  /* background-color: rgba(110, 110, 110, 1.0); */
    color:  #6E6E6E;
 /* text-align: center;  */
  font-size: 1.5rem;
  font-weight:bold;
  
  margin: 5px 5px 0px 5px; 
  border-width: 0px;
  border-style: none;
  border-radius: 10px;
  height: 2.4rem; 
  /* float:right; */
}

div.footer {
  align-content: center;
  width:100%;
  position: absolute;
  bottom: 15px;
}

.pack-switch, .denix {
  float:right;
  padding-left: 50px;
}

 .parameters {
     padding-left: 10px;
     font-size: 2rem;
}

.rightCheckbox {
    float: right;
    margin-left: 5px;
    margin-top:6px;
    width:75%
}

.left {
    float: left;
    margin-left: 5px;
}

.right {
    float: right;
    margin-right: 5px;
}

.about {
    padding-top: 5px;
}

.aboutText {
    width:50%;
    float:right;
    padding-top: 20px;
    font-size:1.3rem;
}

button.icon_button {
    width:40px;
    padding:0px 0px 0px 0px;
    border-radius: 20px;
    background-color: #6E6E6E;
}

.magneto {
  background-color: rgba(110, 110, 110, 1.0);
  color: black;
  text-align: center;
  font-size: 3rem; 
  margin: 5px 5px 0px 5px; 
  border-width: 0px;
  border-style: none;
  border-radius: 10px;
  height: 4.5rem; 
  /* float:right; */
}

.files {
    height: calc(100% - 5rem);
}

.footer {
    position: absolute;
    bottom: 0;
}

.rightExercise {
    float: right;
    margin-left: 5px;
    margin-top:6px;
    width:60%
}

.li.selected {
    color: red;
}

 /*table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 width:100%;
 }
td { 
 border-width:1px;
 border-style:solid; 
 border-color:red; 
 height: 2rem;
 }*/

td.selected {
    background-color: red;
}

button.calendar {
    border-radius:0rem;
     background-color: red;
}

ol.horizontal {
    -moz-box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    margin-bottom:1px; 
}

ol.horizontal li {
    -moz-box-sizing: border-box;
    float: left;
    font-size:x-small;
    width: 14.286%;
    padding: 0px 0px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-style:solid;
    border-color: white;
    text-align:center;
    background-color: black;
    color:white;
}

ol.day {
    -moz-box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    margin-bottom:1px;
}

ol.day li {
    -moz-box-sizing: border-box;
    float: left;
    font-size:x-small;
    width: 14.286%;
    padding: 0px 0px;
    border-top:1px;
    border-bottom:1px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-style:solid;
    border-color: grey;
    text-align:center;
    background-color: white;
    color:white;
}

li.daySelected  {
    background-color: #cad4ca !important;
    font-size: xsmall !important;
}

.invisible {
    display: none!important;
}
